# === IDE / редакторы ===
.idea/
.vscode/

# === Виртуальные окружения ===
venv/
.env/
.venv/

# === Python артефакты ===
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# === Логи и временные файлы ===
*.log
*.tmp
*.bak

# === Тестовые артефакты ===
.pytest_cache/
.coverage
htmlcov/

# === Системные файлы ===
.DS_Store
Thumbs.db
